/* Background Styles for licensed tracks in playlist trees */
/* XXX: need PD, Sampling, Dev Nations */

treechildren:-moz-tree-cell(by) {
    background-image: url(chrome://mozcc/skin/images/by.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    -moz-background-origin:padding;
}

treechildren:-moz-tree-cell(by-sa) {
    background-image: url(chrome://mozcc/skin/images/by-sa.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    -moz-background-origin:padding;
}

treechildren:-moz-tree-cell(by-nd) {
    background-image: url(chrome://mozcc/skin/images/by-nd.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    -moz-background-origin:padding;
}

treechildren:-moz-tree-cell(by-nc) {
    background-image: url(chrome://mozcc/skin/images/by-nc.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    -moz-background-origin:padding;
}

treechildren:-moz-tree-cell(by-nc-sa) {
    background-image: url(chrome://mozcc/skin/images/by-nc-sa.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    -moz-background-origin:padding;
}

treechildren:-moz-tree-cell(by-nc-nd) {
    background-image: url(chrome://mozcc/skin/images/by-nc-nd.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    -moz-background-origin:padding;
}

/* Sampling Licenses */
treechildren:-moz-tree-cell(nc-samplingplus) {
    background-image: url(chrome://mozcc/skin/images/nc-samplingplus.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    -moz-background-origin:padding;
}

treechildren:-moz-tree-cell(samplingplus) {
    background-image: url(chrome://mozcc/skin/images/samplingplus.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    -moz-background-origin:padding;
}

treechildren:-moz-tree-cell(sampling) {
    background-image: url(chrome://mozcc/skin/images/sampling.png);
    background-repeat: no-repeat;
    background-position: right 50%;
    -moz-background-origin:padding;
}
